# Energy Data Parser
- Gets the energy data into a dataframe ready for analytics
- Does not perform any analysis or non-reversible mods

### Todo
- Convert missing cells (?) to NaN
- Investigate NaT indices -- fix if possible

### Scope for *next* notebook
- outliers
- trend analysis for bad points
- interpolate/resample for missing cells
- ???

In [72]:
# Preliminary setup
import pandas as pd
import zipfile
import os
dataname = 'household_power_consumption';
# There are c. 2.e6 rows in this file.
nskiprows = int(1.1e5)
#nskiprows = 0
readrows = int(1.e5)
#readrows = None # Comment out for smaller test load.

# Extract zip if necessary
if not os.path.isfile(dataname + '.txt'):
    zip_ref = zipfile.ZipFile('src/' + dataname +'.zip', 'r')
    zip_ref.extractall('.')
    zip_ref.close()

In [73]:
# Import into dataframe
csv_labels = ['Date','Time','Global_active_power','Global_reactive_power','Voltage','Global_intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3'];
namelist = ['date','time','active','reactive','volts','amps','sub1','sub2','sub3'];

df = pd.read_csv(dataname + '.txt'
                ,delimiter=';'
                ,nrows=readrows
                ,skiprows=nskiprows
                ,header=0
                ,names=namelist
                ,parse_dates=[['date', 'time']]
                #,index_col='date_time'
                );

# Record the file line number of the row, and reindex on new datetime 
df['rowno'] = df.index + 2 + nskiprows
df.set_index('date_time',inplace=True,drop=True)
df.index.rename('dtime',inplace=True);

In [74]:
# Show rows with nulls
dfnulls = df[df.isnull().any(axis=1)];
dfnulls

                    active reactive volts amps sub1 sub2  sub3   rowno
dtime
2007-03-25 17:52:00      ?        ?     ?    ?    ?    ?   NaN  142590
2007-04-28 00:21:00      ?        ?     ?    ?    ?    ?   NaN  190499
2007-04-28 00:22:00      ?        ?     ?    ?    ?    ?   NaN  190500
2007-04-28 00:23:00      ?        ?     ?    ?    ?    ?   NaN  190501
2007-04-28 00:24:00      ?        ?     ?    ?    ?    ?   NaN  190502
2007-04-28 00:25:00      ?        ?     ?    ?    ?    ?   NaN  190503
2007-04-28 00:26:00      ?        ?     ?    ?    ?    ?   NaN  190504
2007-04-28 00:27:00      ?        ?     ?    ?    ?    ?   NaN  190505
2007-04-28 00:28:00      ?        ?     ?    ?    ?    ?   NaN  190506
2007-04-28 00:29:00      ?        ?     ?    ?    ?    ?   NaN  190507
2007-04-28 00:30:00      ?        ?     ?    ?    ?    ?   NaN  190508
2007-04-28 00:31:00      ?        ?     ?    ?    ?    ?   NaN  190509
2007-04-28 00:32:00      ?        ?     ?    ?    ?    ?   NaN  190510
2007-04-28 00:33:00      ?        ?     ?    ?    ?    ?   NaN  190511
2007-04-28 00:34:00      ?        ?     ?    ?    ?    ?   NaN  190512
2007-04-28 00:35:00      ?        ?     ?    ?    ?    ?   NaN  190513
2007-04-28 00:36:00      ?        ?     ?    ?    ?    ?   NaN  190514
2007-04-28 00:37:00      ?        ?     ?    ?    ?    ?   NaN  190515
2007-04-28 00:38:00      ?        ?     ?    ?    ?    ?   NaN  190516
2007-04-28 00:39:00      ?        ?     ?    ?    ?    ?   NaN  190517
2007-04-28 00:40:00      ?        ?     ?    ?    ?    ?   NaN  190518
2007-04-28 00:41:00      ?        ?     ?    ?    ?    ?   NaN  190519
2007-04-28 00:42:00      ?        ?     ?    ?    ?    ?   NaN  190520
2007-04-28 00:43:00      ?        ?     ?    ?    ?    ?   NaN  190521
2007-04-28 00:44:00      ?        ?     ?    ?    ?    ?   NaN  190522
2007-04-28 00:45:00      ?        ?     ?    ?    ?    ?   NaN  190523
2007-04-28 00:46:00      ?        ?     ?    ?    ?    ?   NaN  190524
2007-04-28 00:47:00      ?        ?     ?    ?    ?    ?   NaN  190525
2007-04-28 00:48:00      ?        ?     ?    ?    ?    ?   NaN  190526
2007-04-28 00:49:00      ?        ?     ?    ?    ?    ?   NaN  190527
...                    ...      ...   ...  ...  ...  ...   ...     ...
2007-04-30 13:54:00      ?        ?     ?    ?    ?    ?   NaN  194192
2007-04-30 13:55:00      ?        ?     ?    ?    ?    ?   NaN  194193
2007-04-30 13:56:00      ?        ?     ?    ?    ?    ?   NaN  194194
2007-04-30 13:57:00      ?        ?     ?    ?    ?    ?   NaN  194195
2007-04-30 13:58:00      ?        ?     ?    ?    ?    ?   NaN  194196
2007-04-30 13:59:00      ?        ?     ?    ?    ?    ?   NaN  194197
2007-04-30 14:00:00      ?        ?     ?    ?    ?    ?   NaN  194198
2007-04-30 14:01:00      ?        ?     ?    ?    ?    ?   NaN  194199
2007-04-30 14:02:00      ?        ?     ?    ?    ?    ?   NaN  194200
2007-04-30 14:03:00      ?        ?     ?    ?    ?    ?   NaN  194201
2007-04-30 14:04:00      ?        ?     ?    ?    ?    ?   NaN  194202
2007-04-30 14:05:00      ?        ?     ?    ?    ?    ?   NaN  194203
2007-04-30 14:06:00      ?        ?     ?    ?    ?    ?   NaN  194204
2007-04-30 14:07:00      ?        ?     ?    ?    ?    ?   NaN  194205
2007-04-30 14:08:00      ?        ?     ?    ?    ?    ?   NaN  194206
2007-04-30 14:09:00      ?        ?     ?    ?    ?    ?   NaN  194207
2007-04-30 14:10:00      ?        ?     ?    ?    ?    ?   NaN  194208
2007-04-30 14:11:00      ?        ?     ?    ?    ?    ?   NaN  194209
2007-04-30 14:12:00      ?        ?     ?    ?    ?    ?   NaN  194210
2007-04-30 14:13:00      ?        ?     ?    ?    ?    ?   NaN  194211
2007-04-30 14:14:00      ?        ?     ?    ?    ?    ?   NaN  194212
2007-04-30 14:15:00      ?        ?     ?    ?    ?    ?   NaN  194213
2007-04-30 14:16:00      ?        ?     ?    ?    ?    ?   NaN  194214
2007-04-30 14:17:00      ?        ?     ?    ?    ?    ?   NaN  194215
2007-04-30 14:18:00      ?        ?     ?    ?    ?    ?   NaN  194216
2007-04-30 14:19:00      ?        ?     ?    ?    ?    ?   NaN  194217
2007-04-30 14:20:00      ?        ?     ?    ?    ?    ?   NaN  194218
2007-04-30 14:21:00      ?        ?     ?    ?    ?    ?   NaN  194219
2007-04-30 14:22:00      ?        ?     ?    ?    ?    ?   NaN  194220
2007-04-30 14:23:00      ?        ?     ?    ?    ?    ?   NaN  194221

[3724 rows x 8 columns]

      date_time active reactive    volts    amps   sub1    sub2  sub3  rowno
0           NaT  0.218    0.000  242.660   0.800  0.000   0.000   NaN    NaN
1           NaT  0.218    0.000  243.140   0.800  0.000   0.000   NaN    NaN
2           NaT  0.218    0.000  243.300   0.800  0.000   0.000   NaN    NaN
3           NaT  0.218    0.000  243.410   0.800  0.000   0.000   NaN    NaN
4           NaT  0.218    0.000  243.240   0.800  0.000   0.000   NaN    NaN
5           NaT  0.220    0.000  244.170   0.800  0.000   0.000   NaN    NaN
6           NaT  0.220    0.000  244.010   0.800  0.000   0.000   NaN    NaN
7           NaT  0.218    0.000  242.990   0.800  0.000   0.000   NaN    NaN
8           NaT  0.220    0.000  243.340   0.800  0.000   0.000   NaN    NaN
9           NaT  0.220    0.000  244.020   0.800  0.000   0.000   NaN    NaN
10          NaT  0.220    0.000  243.540   0.800  0.000   0.000   NaN    NaN
11          NaT  0.216    0.000  241.820   0.800  0.000   0.000   NaN    NaN
12          NaT  0.218    0.000  243.130   0.800  0.000   0.000   NaN    NaN
13          NaT  0.218    0.000  243.050   0.800  0.000   0.000   NaN    NaN
14          NaT  0.216    0.000  241.770   0.800  0.000   0.000   NaN    NaN
15          NaT  0.216    0.000  241.480   0.800  0.000   0.000   NaN    NaN
16          NaT  0.216    0.000  241.540   0.800  0.000   0.000   NaN    NaN
17          NaT  0.216    0.000  241.350   0.800  0.000   0.000   NaN    NaN
18          NaT  0.216    0.000  241.490   0.800  0.000   0.000   NaN    NaN
19          NaT  0.216    0.000  241.840   0.800  0.000   0.000   NaN    NaN
20          NaT  0.218    0.000  243.050   0.800  0.000   0.000   NaN    NaN
21          NaT  0.218    0.000  242.710   0.800  0.000   0.000   NaN    NaN
22          NaT  0.260    0.000  243.250   1.200  0.000   0.000   NaN    NaN
23          NaT  0.410    0.218  242.410   2.000  0.000   0.000   NaN    NaN
24          NaT  0.412    0.234  242.310   1.800  0.000   0.000   NaN    NaN
25          NaT  0.400    0.232  242.060   1.800  0.000   0.000   NaN    NaN
26          NaT  0.398    0.234  242.300   1.800  0.000   0.000   NaN    NaN
27          NaT  0.398    0.238  243.080   1.800  0.000   0.000   NaN    NaN
28          NaT  0.394    0.232  242.130   1.800  0.000   0.000   NaN    NaN
29          NaT  0.392    0.238  243.170   1.800  0.000   0.000   NaN    NaN
...         ...    ...      ...      ...     ...    ...     ...   ...    ...
49970       NaT  2.156    0.214  238.720   9.400  0.000  31.000   NaN    NaN
49971       NaT  1.414    0.208  239.810   6.600  0.000  17.000   NaN    NaN
49972       NaT  1.852    0.222  239.250   8.000  0.000  26.000   NaN    NaN
49973       NaT  1.426    0.204  239.080   6.600  0.000  18.000   NaN    NaN
49974       NaT  2.098    0.218  238.740   9.200  0.000  27.000   NaN    NaN
49975       NaT  2.666    0.186  238.020  11.400  0.000  16.000   NaN    NaN
49976       NaT  2.102    0.122  238.030  10.000  0.000  27.000   NaN    NaN
49977       NaT  1.044    0.150  240.420   5.000  0.000   5.000   NaN    NaN
49978       NaT  0.888    0.152  240.820   4.400  0.000   5.000   NaN    NaN
49979       NaT  0.528    0.124  241.130   2.200  0.000   4.000   NaN    NaN
49980       NaT  0.558    0.144  241.400   2.400  0.000   5.000   NaN    NaN
49981       NaT  0.536    0.126  241.330   2.200  0.000   5.000   NaN    NaN
49982       NaT  0.544    0.142  241.210   2.200  0.000   5.000   NaN    NaN
49983       NaT  0.532    0.124  241.000   2.200  0.000   5.000   NaN    NaN
49984       NaT  0.534    0.138  240.550   2.200  0.000   4.000   NaN    NaN
49985       NaT  0.450    0.108  241.920   2.000  0.000   4.000   NaN    NaN
49986       NaT  0.328    0.078  241.620   1.400  0.000   1.000   NaN    NaN
49987       NaT  0.346    0.082  241.640   1.400  0.000   1.000   NaN    NaN
49988       NaT  0.440    0.202  241.060   2.000  0.000   2.000   NaN    NaN
49989       NaT  0.452    0.214  240.900   2.000  0.000   1.000   NaN    NaN
49990       NaT  0.430    0.212  241.470   2.000  0.000   1.000   NaN    NaN
49991       NaT  0.448    0.210  240.330   2.000  0.000   2.000   NaN    NaN
49992       NaT  0.424    0.206  240.020   2.000  0.000   1.000   NaN    NaN
49993       NaT  0.444    0.216  241.230   2.000  0.000   2.000   NaN    NaN
49994       NaT  0.422    0.210  241.000   2.000  0.000   1.000   NaN    NaN
49995       NaT  0.442    0.212  240.420   2.000  0.000   1.000   NaN    NaN
49996       NaT  0.416    0.208  240.210   1.800  0.000   1.000   NaN    NaN
49997       NaT  0.438    0.212  240.430   2.000  0.000   2.000   NaN    NaN
49998       NaT  0.418    0.210  240.800   1.800  0.000   1.000   NaN    NaN
49999       NaT  0.436    0.220  241.690   2.000  0.000   2.000   NaN    NaN

[50000 rows x 9 columns]