In [16]:
# Preliminary setup
import pandas as pd
import zipfile
import os
dataname = 'household_power_consumption';
# There are c. 2.e6 rows in this file.
nskiprows = int(1.1e5)
#nskiprows = 0
readrows = int(5.e4)
#readrows = None # Comment out for smaller test load.

# Extract zip if necessary
if not os.path.isfile(dataname + '.txt'):
    zip_ref = zipfile.ZipFile('src/' + dataname +'.zip', 'r')
    zip_ref.extractall('.')
    zip_ref.close()

In [18]:
# Import into dataframe
csv_labels = ['Date_Time','Global_active_power','Global_reactive_power','Voltage','Global_intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3'];
namelist = ['date','time','active','reactive','volts','amps','sub1','sub2','sub3'];

df = pd.read_csv(dataname + '.txt'
                ,delimiter=';'
                ,nrows=readrows
                ,skiprows=nskiprows
                ,header=0
                ,names=namelist
                ,parse_dates=[['date', 'time']]
                ,index_col='date_time'
                );
df.index.rename('dtime',inplace=True);

In [24]:
# Have a look at the non-numeric rows
import numpy as np
allreal = df.applymap(np.isreal);
df[~allreal]

                    active reactive    volts    amps   sub1    sub2  sub3
dtime
2007-03-03 02:44:00  0.218    0.000  242.660   0.800  0.000   0.000   NaN
2007-03-03 02:45:00  0.218    0.000  243.140   0.800  0.000   0.000   NaN
2007-03-03 02:46:00  0.218    0.000  243.300   0.800  0.000   0.000   NaN
2007-03-03 02:47:00  0.218    0.000  243.410   0.800  0.000   0.000   NaN
2007-03-03 02:48:00  0.218    0.000  243.240   0.800  0.000   0.000   NaN
2007-03-03 02:49:00  0.220    0.000  244.170   0.800  0.000   0.000   NaN
2007-03-03 02:50:00  0.220    0.000  244.010   0.800  0.000   0.000   NaN
2007-03-03 02:51:00  0.218    0.000  242.990   0.800  0.000   0.000   NaN
2007-03-03 02:52:00  0.220    0.000  243.340   0.800  0.000   0.000   NaN
2007-03-03 02:53:00  0.220    0.000  244.020   0.800  0.000   0.000   NaN
2007-03-03 02:54:00  0.220    0.000  243.540   0.800  0.000   0.000   NaN
2007-03-03 02:55:00  0.216    0.000  241.820   0.800  0.000   0.000   NaN
2007-03-03 02:56:00  0.218    0.000  243.130   0.800  0.000   0.000   NaN
2007-03-03 02:57:00  0.218    0.000  243.050   0.800  0.000   0.000   NaN
2007-03-03 02:58:00  0.216    0.000  241.770   0.800  0.000   0.000   NaN
2007-03-03 02:59:00  0.216    0.000  241.480   0.800  0.000   0.000   NaN
2007-03-03 03:00:00  0.216    0.000  241.540   0.800  0.000   0.000   NaN
2007-03-03 03:01:00  0.216    0.000  241.350   0.800  0.000   0.000   NaN
2007-03-03 03:02:00  0.216    0.000  241.490   0.800  0.000   0.000   NaN
2007-03-03 03:03:00  0.216    0.000  241.840   0.800  0.000   0.000   NaN
2007-03-03 03:04:00  0.218    0.000  243.050   0.800  0.000   0.000   NaN
2007-03-03 03:05:00  0.218    0.000  242.710   0.800  0.000   0.000   NaN
2007-03-03 03:06:00  0.260    0.000  243.250   1.200  0.000   0.000   NaN
2007-03-03 03:07:00  0.410    0.218  242.410   2.000  0.000   0.000   NaN
2007-03-03 03:08:00  0.412    0.234  242.310   1.800  0.000   0.000   NaN
2007-03-03 03:09:00  0.400    0.232  242.060   1.800  0.000   0.000   NaN
2007-03-03 03:10:00  0.398    0.234  242.300   1.800  0.000   0.000   NaN
2007-03-03 03:11:00  0.398    0.238  243.080   1.800  0.000   0.000   NaN
2007-03-03 03:12:00  0.394    0.232  242.130   1.800  0.000   0.000   NaN
2007-03-03 03:13:00  0.392    0.238  243.170   1.800  0.000   0.000   NaN
...                    ...      ...      ...     ...    ...     ...   ...
2007-06-04 19:34:00  2.156    0.214  238.720   9.400  0.000  31.000   NaN
2007-06-04 19:35:00  1.414    0.208  239.810   6.600  0.000  17.000   NaN
2007-06-04 19:36:00  1.852    0.222  239.250   8.000  0.000  26.000   NaN
2007-06-04 19:37:00  1.426    0.204  239.080   6.600  0.000  18.000   NaN
2007-06-04 19:38:00  2.098    0.218  238.740   9.200  0.000  27.000   NaN
2007-06-04 19:39:00  2.666    0.186  238.020  11.400  0.000  16.000   NaN
2007-06-04 19:40:00  2.102    0.122  238.030  10.000  0.000  27.000   NaN
2007-06-04 19:41:00  1.044    0.150  240.420   5.000  0.000   5.000   NaN
2007-06-04 19:42:00  0.888    0.152  240.820   4.400  0.000   5.000   NaN
2007-06-04 19:43:00  0.528    0.124  241.130   2.200  0.000   4.000   NaN
2007-06-04 19:44:00  0.558    0.144  241.400   2.400  0.000   5.000   NaN
2007-06-04 19:45:00  0.536    0.126  241.330   2.200  0.000   5.000   NaN
2007-06-04 19:46:00  0.544    0.142  241.210   2.200  0.000   5.000   NaN
2007-06-04 19:47:00  0.532    0.124  241.000   2.200  0.000   5.000   NaN
2007-06-04 19:48:00  0.534    0.138  240.550   2.200  0.000   4.000   NaN
2007-06-04 19:49:00  0.450    0.108  241.920   2.000  0.000   4.000   NaN
2007-06-04 19:50:00  0.328    0.078  241.620   1.400  0.000   1.000   NaN
2007-06-04 19:51:00  0.346    0.082  241.640   1.400  0.000   1.000   NaN
2007-06-04 19:52:00  0.440    0.202  241.060   2.000  0.000   2.000   NaN
2007-06-04 19:53:00  0.452    0.214  240.900   2.000  0.000   1.000   NaN
2007-06-04 19:54:00  0.430    0.212  241.470   2.000  0.000   1.000   NaN
2007-06-04 19:55:00  0.448    0.210  240.330   2.000  0.000   2.000   NaN
2007-06-04 19:56:00  0.424    0.206  240.020   2.000  0.000   1.000   NaN
2007-06-04 19:57:00  0.444    0.216  241.230   2.000  0.000   2.000   NaN
2007-06-04 19:58:00  0.422    0.210  241.000   2.000  0.000   1.000   NaN
2007-06-04 19:59:00  0.442    0.212  240.420   2.000  0.000   1.000   NaN
2007-06-04 20:00:00  0.416    0.208  240.210   1.800  0.000   1.000   NaN
2007-06-04 20:01:00  0.438    0.212  240.430   2.000  0.000   2.000   NaN
2007-06-04 20:02:00  0.418    0.210  240.800   1.800  0.000   1.000   NaN
2007-06-04 20:03:00  0.436    0.220  241.690   2.000  0.000   2.000   NaN

[50000 rows x 7 columns]