In [133]:
# Preliminary setup
import pandas as pd
import zipfile
import os
dataname = 'household_power_consumption';
# There are c. 2.e6 rows in this file.
nskiprows = int(1.e5)
#nskiprows = 0
readrows = int(5.e3)
#readrows = None # Comment out for smaller test load.

# Extract zip if necessary
if not os.path.isfile(fname + '.txt'):
    zip_ref = zipfile.ZipFile('src/' + dataname +'.zip', 'r')
    zip_ref.extractall('.')
    zip_ref.close()

In [134]:
# Import into dataframe
csv_labels = ['Date_Time','Global_active_power','Global_reactive_power','Voltage','Global_intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3'];
namelist = ['date','time','active','reactive','volts','amps','sub1','sub2','sub3'];

df = pd.read_csv(dataname + '.txt'
                ,delimiter=';'
                ,nrows=readrows
                ,skiprows=nskiprows
                ,header=0
                ,names=namelist
                ,parse_dates=[['date', 'time']]
                ,index_col='date_time'
                );
df.index.rename('dtime',inplace=True);
df.describe()

,active,reactive,volts,amps,sub1,sub2,sub3
count,5000.000000,5000.00000,5000.000000,5000.000000,5000.0,5000.000000,5000.000000
mean,0.393421,0.07919,241.227518,1.656480,0.0,0.237800,1.612800
std,0.374194,0.08584,2.406468,1.555506,0.0,0.542319,5.083665
min,0.204000,0.00000,232.920000,0.800000,0.0,0.000000,0.000000
25%,0.220000,0.00000,239.840000,0.800000,0.0,0.000000,0.000000
50%,0.294000,0.09000,241.230000,1.200000,0.0,0.000000,0.000000
75%,0.326000,0.12400,242.760000,1.400000,0.0,0.000000,0.000000
max,2.464000,0.38800,247.850000,10.200000,0.0,2.000000,19.000000

In [130]:
int(1.e4)

10000