# Weather Data Parser
- Gets the WEATHER data into a dataframe ready for analytics
- Does not perform any analysis or non-reversible mods

TODO:

In [35]:
# Preliminary setup
import pandas as pd
import zipfile
import os
import numpy as np

zipname = 'wx'
dataname = 'LFPO'
#nskiprows = int(1.1e5)
nskiprows = 0
#readrows = int(1.e5)
readrows = None # Comment out for smaller test load.

In [2]:
# Extract zip if necessary
if not os.path.isfile(dataname + '.txt'):
    zip_ref = zipfile.ZipFile('src/' + zipname +'.zip', 'r')
    zip_ref.extractall('.')
    zip_ref.close()

In [3]:
# Setup for read_csv
coltypes = { 'alti': 'float64', 'drct': 'float64', 'dwpf': 'float64', 'gust': 'float64', 'metar': 'str', 'mslp': 'float64', 'p01i': 'float64', 'relh': 'float64', 'sknt': 'float64', 'skyc1': 'object', 'skyc2': 'object', 'skyc3': 'object', 'skyc4': 'object', 'skyl1': 'float64', 'skyl2': 'float64', 'skyl3': 'float64', 'skyl4': 'float64', 'station': 'object', 'tmpf': 'float64', 'valid': 'object', 'vsby': 'float64', 'wxcodes': 'object'}
# This dict should work to only allow M as null in the numeric columns... but it doesn't.
#null_m_cols = {'alti': 'M', 'drct': 'M', 'dwpf': 'M', 'gust': 'M', 'mslp': 'M', 'p01i': 'M', 'relh': 'M', 'sknt': 'M', 'skyl1': ['M'], 'skyl2': 'M', 'skyl3': 'M', 'skyl4': 'M', 'tmpf': 'M', 'vsby': 'M'}

In [81]:
df = pd.read_csv(dataname + '.txt'
                 #,nrows=3000
                 ,low_memory=False
                 ,dtype=coltypes
                 ,parse_dates=['valid']
                 ,na_values='M'
                )
df.rename(columns=lambda x: x.strip(),inplace=True)
#df.dtypes.to_dict()
df.index = df.valid
df.drop(['station', 'valid', 'sknt', 'p01i', 'mslp'
    ,'vsby', 'gust', 'skyc1', 'skyc2', 'skyc3', 'skyc4'
    ,'skyl1', 'skyl2', 'skyl3', 'skyl4', 'wxcodes', 'metar'
        ],axis=1,inplace=True)

In [79]:
# Store it for later cleanup
df.to_pickle("allwxdata.pickle")

In [80]:
df

                     tmpf  dwpf    relh   drct   alti
valid
2007-01-01 06:30:00  50.0  42.8   76.18  240.0  30.12
2007-01-01 07:00:00  50.0  42.8   76.18  230.0  30.12
2007-01-01 07:30:00  50.0  42.8   76.18  230.0  30.15
2007-01-01 08:00:00  50.0  42.8   76.18  230.0  30.15
2007-01-01 08:30:00  46.4  41.0   81.34  250.0  30.15
2007-01-01 09:00:00  48.2  41.0   76.01  250.0  30.18
2007-01-01 09:30:00  48.2  39.2   70.88  260.0  30.21
2007-01-01 10:00:00  48.2  41.0   76.01  250.0  30.21
2007-01-01 10:30:00  50.0  39.2   66.27  260.0  30.24
2007-01-01 11:00:00  50.0  37.4   61.76  270.0  30.24
2007-01-01 11:30:00  50.0  37.4   61.76  270.0  30.24
2007-01-01 12:00:00  51.8  39.2   61.99  270.0  30.24
2007-01-01 12:30:00  51.8  37.4   57.77  260.0  30.21
2007-01-01 13:00:00  51.8  35.6   53.81  250.0  30.21
2007-01-01 13:30:00  51.8  35.6   53.81  240.0  30.21
2007-01-01 14:00:00  50.0  35.6   57.52  240.0  30.21
2007-01-01 14:30:00  50.0  39.2   66.27  220.0  30.21
2007-01-01 15:00:00  48.2  39.2   70.88  210.0  30.21
2007-01-01 15:30:00  48.2  39.2   70.88  200.0  30.18
2007-01-01 16:00:00  48.2  39.2   70.88  190.0  30.18
2007-01-01 16:30:00  46.4  39.2   75.84  190.0  30.15
2007-01-01 17:00:00  46.4  39.2   75.84  180.0  30.12
2007-01-01 17:30:00  46.4  41.0   81.34  180.0  30.12
2007-01-01 18:00:00  46.4  41.0   81.34  170.0  30.06
2007-01-01 18:30:00  46.4  41.0   81.34  170.0  30.06
2007-01-01 19:00:00  44.6  41.0   87.09  210.0  30.06
2007-01-01 19:30:00  44.6  41.0   87.09  210.0  30.03
2007-01-01 20:00:00  42.8  39.2   86.99  190.0  30.03
2007-01-01 20:30:00  42.8  41.0   93.30  180.0  30.00
2007-01-01 21:00:00  42.8  41.0   93.30  220.0  30.00
...                   ...   ...     ...    ...    ...
2010-12-30 08:00:00  35.6  33.8   93.08   40.0  30.18
2010-12-30 08:30:00  35.6  33.8   93.08   40.0  30.18
2010-12-30 09:00:00  35.6  35.6  100.00   40.0  30.18
2010-12-30 09:30:00  37.4  35.6   93.14   60.0  30.18
2010-12-30 10:00:00  37.4  37.4  100.00   70.0  30.18
2010-12-30 10:30:00  39.2  37.4   93.19   70.0  30.18
2010-12-30 11:00:00  41.0  37.4   86.89   60.0  30.18
2010-12-30 11:30:00  41.0  37.4   86.89   40.0  30.18
2010-12-30 12:00:00  42.8  37.4   81.07   50.0  30.18
2010-12-30 12:30:00  41.0  37.4   86.89   40.0  30.15
2010-12-30 13:00:00  41.0  37.4   86.89   30.0  30.15
2010-12-30 13:30:00  39.2  37.4   93.19   50.0  30.15
2010-12-30 14:00:00  39.2  37.4   93.19   60.0  30.15
2010-12-30 14:30:00  39.2  37.4   93.19   40.0  30.15
2010-12-30 15:00:00  39.2  37.4   93.19   40.0  30.15
2010-12-30 15:30:00  39.2  37.4   93.19   40.0  30.15
2010-12-30 16:00:00  39.2  37.4   93.19   40.0  30.18
2010-12-30 16:30:00  39.2  37.4   93.19   40.0  30.15
2010-12-30 17:00:00  37.4  37.4  100.00   30.0  30.15
2010-12-30 17:47:00  37.4  35.6   93.14   50.0  30.18
2010-12-30 18:00:00  37.4  35.6   93.14   50.0  30.18
2010-12-30 18:30:00  37.4  35.6   93.14   50.0  30.18
2010-12-30 19:00:00  37.4  35.6   93.14   60.0  30.18
2010-12-30 19:30:00  35.6  35.6  100.00   50.0  30.18
2010-12-30 20:00:00  35.6  35.6  100.00   80.0  30.18
2010-12-30 20:30:00  35.6  35.6  100.00   70.0  30.18
2010-12-30 21:00:00  35.6  35.6  100.00   50.0  30.18
2010-12-30 21:30:00  35.6  33.8   93.08   60.0  30.18
2010-12-30 22:00:00  35.6  33.8   93.08   70.0  30.21
2010-12-30 22:30:00  35.6  35.6  100.00   70.0  30.21

[69111 rows x 5 columns]